@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-icon {
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  */

@layer base {
  /* * {
    @apply border-border;
  } */
}
/* Hide scrollbar by default */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

/* Hide the track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Make thumb transparent by default */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

@font-face {
  font-family: "akkurat";
  src: url("") format("woff2"), url("/fonts/your-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Show scrollbar when interacting (hovering or scrolling) */
:hover::-webkit-scrollbar-thumb,
:focus-within::-webkit-scrollbar-thumb {
  background: #555;
}

:hover::-webkit-scrollbar-thumb:hover {
  background: #888;
}

@font-face {
  font-family: "akkurat"; /* Custom name */
  src: url("/fonts/akkurat-webfont.woff2") format("woff2"),
    url("/fonts/akkurat-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "akkurat", sans-serif;
}


